/** Add css rules here for your application. */

table {
    padding-right: 10px;
    padding-left: 10px;
}

.roundTable {
    padding-right: 40px;
    border: 1px solid;
}

.rulesTable td {
    padding: 2px 10px;
    border: 1px solid;
}

.tableHeading {
    font-weight: bold;
    font-size: 12pt;
    padding-bottom: 10px;
}

.invalid {
    color: #8B0000;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
    border-top-right-radius: 15px;
    -moz-border-radius-topright: 15px;
}

.mainGrid {
    border-style: hidden !important;
}

.settingsPanel {
    border-style: hidden !important;
}

.settingsPanel .gwt-Label {
   padding-top: 4px;
   padding-right: 10px;
}

.settingsPanel .gwt-Button {
    margin-top: 2px !important;
    margin-left: 10px !important;
}

.resultsPanel {
    border-style: hidden !important;
}

.resultsGrid {
    padding-right: 40px;
    border: 1px solid;
}

.topListPanel {
    border-style: hidden !important;
}

.topListGrid {
}

.topListGrid td {
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.h1 {
    font-size: 24px;
    color: #ADFF2F;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 3px;
}

.correct {
    background-color: #008000 !important;
}


