/** Add css rules here for your application. */

table {
    padding-right: 10px;
    padding-left: 10px;
}

.roundTable {
    padding-right: 40px;
    border: 1px solid;
}

.rulesTable td {
    padding: 2px 10px;
    border: 1px solid;
}

.tableHeading {
    font-weight: bold;
    font-size: 12pt;
    padding-bottom: 10px;
}

.invalid {
    color: #8B0000;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
    border-top-right-radius: 15px;
    -moz-border-radius-topright: 15px;
}

.mainGrid {
    border-style: hidden !important;
}